#app {
  margin: 0;
  padding: 2rem;
  font-weight: normal;
}

html {
  background-color: rgba(4, 22, 99, 0.87);
  background-size: cover;
  overflow: hidden;
}

.button1 {
  display: flex;
  background-color: rgba(4, 22, 99, 0.87);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(0, 255, 85);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 5vh;
  font-size: 1.5vw;
  cursor: pointer;
  top:95%;
  left: 90%;
  position: absolute;
}

.kasutaja {
  display: flex;
  background-color: rgba(4, 22, 99, 0.87);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(0, 255, 85);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 5vh;
  font-size: 1.5vw;
  cursor: pointer;
  top:63%;
  left: 47%;
  position: absolute;
}

.enterkasutaja {
  display: flex;
  background-color: rgba(4, 22, 99, 0.87);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(0, 255, 85);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 4vh;
  font-size: 1.5vw;
  cursor: pointer;
  top:72%;
  left: 47.25%;
  position: absolute;
}

.settings{
  background-image: url("../static/settings.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0);
  display: flex;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  top: 0%;
  left: 0%;
  position: absolute;
}

.buttonfunnisetting {
  display: flex;
  background-color: rgba(4, 22, 99, 0.87);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(0, 255, 85);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 4vh;
  font-size: 1.5vw;
  cursor: pointer;
  top:10%;
  left: 5%;
  position: absolute;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 12%;
  left: 25%;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.edasi{
  display: flex;
  background-color: rgba(4, 22, 99, 0.87);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(0, 255, 85);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 20vw;
  height: 6vh;
  font-size: 1.5vw;
  cursor: pointer;
  position: absolute;
  top: 72%;
  left: 67.5%;
}

.button1game {
  display: flex;
  background-color: rgba(4, 22, 99, 0.87);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 5vh;
  font-size: 1.5vw;
  cursor: pointer;
  top:50%;
  left: 50%;
  position: absolute;
}

.button2game {
  display: flex;
  background-color: rgba(4, 22, 99, 0.87);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 5vh;
  font-size: 1.5vw;
  cursor: pointer;
  top:50%;
  left: 60%;
  position: absolute;
}

.mainmenutextbubble {
  display: flex;
  width: 70vw;
  height: 40vh;
  top: 15%;
  left: 18%;
  position: absolute;
  z-index: -1;
  border-radius: 5000px;
}
.storybubbles {
  display: block;
  top: 18%;
  left: 23%;
  position: absolute;
  z-index: -1;
}
.storybosspng{
  top: 18.5%;
  left: 9.5%;
  position: absolute;
  z-index: -1;
  width: 13vw;
  height: 15vh;
}
.storybosspng2{
  width: 13vw;
  height: 15vh;
  top: 54.35%;
  left: 9.5%;
  position: absolute;
  z-index: -1;
}
.storymenutextbubble {
  width: 65vw;
  height: 17vh;
  border-radius: 5000px;
}
.mainmenuusernameplay{
  display: flex;
  width: 15vw;
  height: 20vh;
  left: 45%;
  top: 60%;
  position: absolute;
  z-index: -1;
}
.smallscreen {
  position: absolute;
  width: 25vw;
  height: 30vh;
  top: 15%;
  left: 70%;
}
.smallscreen2 {
  position: absolute;
  width: 25vw;
  height: 30vh;
  top: 55%;
  left: 70%;
}
.bigscreen {
  position:absolute;
  width: 60vw;
  height: 92.5vh;
  top: 4%;
  left: 3%;
  border-radius: 100px;
}