#app {
  margin: 0;
  padding: 2rem;
  font-weight: normal;
}

html {
  background-size: 200% 200%;
  animation: gradient 180s infinite;
  overflow: hidden;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.button1 {
  background-color: rgba(4, 22, 99, 0.87);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 5vh;
  font-size: 1.5vw;
  cursor: pointer;
  top:95%;
  left: 90%;
  position: absolute;
}

.coolgradientbutton {
  display: flex;
  background-color: #a14337;
  border-color: yellow;
  border-radius: 9px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 4vh;
  font-size: 1.5vw;
  cursor: pointer;
  top:20%;
  left: 5%;
  position: absolute;
}

.user {
  background: linear-gradient(to right, #040404, #0d024e);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 5vh;
  font-size: 1.5vw;
  cursor: pointer;
  top:63%;
  left: 45%;
  position: absolute;
}

.enteruser {
  background: linear-gradient(to right, #040404, #0d024e);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 4vh;
  font-size: 1.5vw;
  cursor: pointer;
  top:72%;
  left: 45%;
  position: absolute;
}

.settings{
  background-image: url("../static/settings.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0);
  display: flex;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  top: 0%;
  left: 0%;
  position: absolute;
}

.Soundbutton {
  display: flex;
  background-color: #a14337;
  border-color: yellow;
  border-radius: 9px;
  color: rgb(0, 255, 76);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 4vh;
  font-size: 1.5vw;
  cursor: pointer;
  top:10%;
  left: 5%;
  position: absolute;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 34px;
    left: 18%;
    top: 10%;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 2%;
  left: 25%;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

.next{
  display: flex;
  background: linear-gradient(to right, #040404, #0d024e);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 20vw;
  height: 6vh;
  font-size: 1.5vw;
  cursor: pointer;
  position: absolute;
  top: 72%;
  left: 67.5%;
}

.button1game {
  display: flex;
  background: linear-gradient(to right, #040404, #0d024e);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 5vh;
  font-size: 1.5vw;
  cursor: pointer;
  top:50%;
  left: 50%;
  position: absolute;
}

.button2game {
  display: flex;
  background: linear-gradient(to right, #040404, #0d024e);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 5vh;
  font-size: 1.5vw;
  cursor: pointer;
  top:50%;
  left: 60%;
  position: absolute;
}

.answerbutton {
  background: linear-gradient(to right, #040404, #0d024e);
  border-color: yellow;
  border-radius: 9px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.2rem;
  width: 10vw;
  height: 5vh;
  font-size: 1.5vw;
  cursor: pointer;
  top: 60%;
  position: absolute;
}
.center {
  display: flex;
  justify-content: center;
}
.mainmenutextbubble {
  width: 70vw;
  height: 40vh;
  top: 15%;
  left: 14.8%;
  position: absolute;
  top: 10%;
  z-index: -1;
  border-radius: 5000px;
}
.storybubbles {
  display: block;
  top: 18%;
  left: 18.5%;
  position: absolute;
  z-index: -1;
}
.storybosspng{
  top: 18.5%;
  left: 5%;
  position: absolute;
  z-index: -1;
  width: 13vw;
  height: 15vh;
}
.storybosspng2{
  width: 13vw;
  height: 15vh;
  top: 36.35%;
  left: 5%;
  position: absolute;
  z-index: -1;
}

.storyworkerpng{
  width: 11vw;
  height: 15vh;
  top: 54.35%;
  right: 5%;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}
.storymenutextbubble {
  width: 65vw;
  height: 17vh;
  border-radius: 5000px;
}
.mainmenuusernameplay{
  width: 15vw;
  height: 20vh;
  left: 42.5%;
  top: 60%;
  position: absolute;
  z-index: -1;
}
.smallscreen {
  position: absolute;
  width: 25vw;
  height: 40vh;
  top: 10%;
  left: 70%;
}
.smallscreen2 {
  position: absolute;
  width: 25vw;
  height: 30vh;
  top: 55%;
  left: 69%;
}
.bigscreen {
  position:absolute;
  width: 60vw;
  height: 92.5vh;
  top: 4%;
  left: 3%;
  border-radius: 100px;
}

.bossitekst {
  width: 65vw;
  height: 10vh;
  position:absolute;
  text-align: left;
  border-color:rgb(0, 255, 76);
  border-width: 10px;
  top: 21%;
  left: 18.5%;
  color:rgb(0, 0, 0);
  font-size: 3vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  overflow: hidden;
}

.bossitekst2 {
  width: 65vw;
  height: 10vh;
  border-color:rgb(0, 255, 76);
  border-width: 10px;
  position:absolute;
  text-align: left;
  top: 39%;
  left: 18.5%;
  color:rgb(0, 0, 0);
  font-size: 3vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  overflow: hidden;
}

.bossitekst4 {
  width: 45vw;
  height: 1.5vh;
  position:absolute;
  text-align: left;
  top: 12.5%;
  left: 5.5%;
  color:rgb(0, 0, 0);
  font-size: 8vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bossitekst5 {
  width: 45vw;
  height: 10vh;
  position:absolute;
  text-align: left;
  top: 18.5%;
  left: -8%;
  color:rgb(0, 0, 0);
  font-size: 8vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 75vw;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 5.2s steps(100) 1s 1 normal both,
             blinkTextCursor 500ms steps(100) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 40em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.anim-typewriter2{
  animation: typewriter2 3s steps(100) 1s 1 normal both,
             blinkTextCursor2 500ms steps(100) infinite normal;
  animation-delay: 7s;}
@keyframes typewriter2{
  from{width: 0;}
  to{width: 20em;}
}
@keyframes blinkTextCursor2{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.anim-typewriter4{
  animation: typewriter4 3.6s steps(150) 1s 1 normal both,
             blinkTextCursor4 500ms steps(100) infinite normal;
}
@keyframes typewriter4{
  from{width: 0;}
  to{width: 29em;}
}
@keyframes blinkTextCursor4{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.anim-typewriter5{
  animation: typewriter5 2.6s steps(100) 1s 1 normal both,
             blinkTextCursor5 500ms steps(100) infinite normal;
             animation-delay: 5s;
}
@keyframes typewriter5{
  from{width: 0;}
  to{width: 20em;}
}
@keyframes blinkTextCursor5{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.drop-zone {
  background-color: rgb(168, 53, 53);
  margin-bottom: 10px;
  padding: 10px;
}
.drag-el {
  background-color: rgb(155, 62, 62);
  margin-bottom: 10px;
  padding: 5px;
}
.menu {
  position: absolute;
  right: 5%;
  top: 5%;
  width: auto;
}
.interactivegame {
  position: absolute;
  left: 5%;
  top: 5%;
  width: auto;
}
.QuestionsChoice1 {
  position: absolute;
  width: 25vw;
  height: 25vh;
  top: 70%;
  left: 20%;
}
.QuestionsChoice2 {
  position: absolute;
  width: 25vw;
  height: 25vh;
  top: 70%;
  right: 20%;
}
.QuestionsTextbubble {
  position:absolute;
  width: 94vw;
  height: 30vh;
  top: 8%;
  border-radius: 100px;
}

canvas
{
  position:fixed;
  top:0px;
  left:0px;
  z-index: -2;
}

.scale {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
